<div id="wrapper">
  <div class="grid" >
    <% @pictures.each do |picture| %>
      <div class="content_post materialboxed grid-item "><img src="<%= picture.image %>" >
        <% if user_signed_in? && current_user.id == picture.user_id %>
          <div class="fixed-action-btn">
          <a class="btn-floating red">
            <i class="large material-icons">mode_edit</i>
          </a>
            <ul class="more_list">
              <li>
                <%= link_to '編集', "/pictures/#{picture.id}/edit", method: :get ,class: "btn-floating yellow darken-1", id: "material-icons"%>
              </li>
              <li>
                <%= link_to '削除', "/pictures/#{picture.id}", method: :delete, class: "btn-floating green darken-1", id: "material-icons" %>
              </li>
            </ul>
          </div>

        <% end %>

      </div>
    <% end %>
</div>
